.logo{
  display:flex;
  gap:30px;
  padding:80px;
  background:#ffffff;
}

.letter{
    width:300px;
    height:300px;
}

.g{
  background:
    repeating-linear-gradient(
      0deg,
      rgba(255,0,0,0.05),
      rgba(255,0,0,0.05) 2px,
      rgba(0,0,0,0.03) 2px,
      rgba(0,0,0,0.03) 4px
    ),
    #c11212;
  clip-path: polygon(92% 13%, 64% 3%, 31% 3%, 5% 17%, 4% 80%, 18% 93%, 73% 93%, 85% 83%, 85% 69%, 76% 54%, 93% 54%, 93% 39%, 47% 39%, 47% 53%, 66% 53%, 58% 69%, 34% 69%, 26% 60%, 26% 30%, 47% 19%, 77% 30%);
  transform: scaleY(0);
  transform-origin: bottom;
  animation: 
    drawLetter 0.8s ease-out forwards,
    shake 0.2s infinite alternate 0.8s;
}

.g::before{
  content:"";
  position:absolute;
  inset:0;

  background:
    radial-gradient(
      circle at 30% 20%,
      rgba(255,80,80,0.9) 0%,
      rgba(255,80,80,0.4) 30%,
      transparent 60%
    ),
    radial-gradient(
      circle at 70% 70%,
      rgba(255,70,70,0.8) 0%,
      transparent 50%
    );

  mix-blend-mode: screen;
  pointer-events:none;
}

.g::after{
  content:"";
  position:absolute;
  inset:0;

  background:
    radial-gradient(
      circle at 60% 80%,
      rgba(90,0,0,0.8) 0%,
      transparent 60%
    ),
    radial-gradient(
      circle at 20% 60%,
      rgba(70,0,0,0.6) 0%,
      transparent 50%
    );

  mix-blend-mode: multiply;
  pointer-events:none;
}
/*G*/

/*R*/
.r{
  background:
    repeating-linear-gradient(
      0deg,
      rgba(255,0,0,0.05),
      rgba(255,0,0,0.05) 2px,
      rgba(0,0,0,0.03) 2px,
      rgba(0,0,0,0.03) 4px
    ),
    #c11212;
  clip-path: polygon(71% 4%, 39% 4%, 18% 16%, 17% 87%, 27% 99%, 42% 97%, 47% 83%, 45% 49%, 64% 83%, 82% 98%, 125% 90%, 93% 77%, 70% 47%, 84% 40%, 84% 15%);

  /*mask:
    radial-gradient(circle at 50% 25%, transparent 30px, black 60px);*/

  transform: scaleY(0);
  transform-origin: bottom;
  animation: 
    drawLetter 0.8s ease-out forwards,
    shake 0.2s infinite alternate 0.8s;
}

.r::before{
  content:"";
  position:absolute;

  width:120px;
  height:90px;

  background:#ffff; /* color del fondo */

  top:35px;
  left:55px;

  clip-path: polygon(27% 20%, 18% 30%, 18% 68%, 29% 81%, 62% 81%, 70% 69%, 70% 32%, 63% 20%);
}
/*R*/

/*x*/
.x{
  width:125px;
  height:150px;
  background:
    repeating-linear-gradient(
      0deg,
      rgba(255,0,0,0.05),
      rgba(255,0,0,0.05) 2px,
      rgba(0,0,0,0.03) 2px,
      rgba(0,0,0,0.03) 4px
    ),
    #c11212;
    clip-path: polygon(43% 0, 35% 9%, 45% 48%, 35% 81%, 43% 97%, 50% 56%, 56% 98%, 65% 81%, 55% 48%, 67% 14%, 61% 0, 51% 40%);
}

/*O*/
.o-container{
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
  width:300px;
  height:450px;

}

.o{
  width:150px;
  height:300px;
  background:
    repeating-linear-gradient(
      0deg,
      rgba(255,0,0,0.05),
      rgba(255,0,0,0.05) 2px,
      rgba(0,0,0,0.03) 2px,
      rgba(0,0,0,0.03) 4px
    ),
    #c11212;
  clip-path: polygon(50% 3%, 19% 3%, 4% 17%, 4% 83%, 19% 97%, 81% 97%, 96% 83%, 96% 17%, 81% 3%);
  transform: scaleY(0);
  transform-origin: bottom;
  animation: 
    drawLetter 0.8s ease-out forwards,
    shake 0.2s infinite alternate 0.8s;
  /*mask:
    radial-gradient(circle at 50% 49%, transparent 50px, black 60px);*/
}
.o::before{
  content:"";
  position:absolute;

  width:150px;
  height:325px;

  background:#ffff; /* color del fondo */

  top:-15px;
  left:40px;

  clip-path: polygon(27% 20%, 18% 30%, 18% 68%, 29% 81%, 62% 81%, 70% 69%, 70% 32%, 63% 20%);
}
/*O*/

/*N*/
.n{
  background:
    repeating-linear-gradient(
      0deg,
      rgba(255,0,0,0.05),
      rgba(255,0,0,0.05) 2px,
      rgba(0,0,0,0.03) 2px,
      rgba(0,0,0,0.03) 4px
    ),
    #c11212;
  clip-path: polygon(100% 3%, 65% 3%, 56% 10%, 56% 79%, 48% 35%, 43% 12%, 36% 4%, 18% 4%, 10% 13%, 10% 79%, 1% 98%, 29% 91%, 33% 79%, 30% 40%, 37% 79%, 47% 95%, 69% 98%, 77% 70%, 85% 12%);
  transform: scaleY(0);
  transform-origin: bottom;
  animation: 
    drawLetter 0.8s ease-out forwards,
    shake 0.2s infinite alternate 0.8s;
}
/*N*/

/*C*/
.c{
  background:
    repeating-linear-gradient(
      0deg,
      rgba(255,0,0,0.05),
      rgba(255,0,0,0.05) 2px,
      rgba(0,0,0,0.03) 2px,
      rgba(0,0,0,0.03) 4px
    ),
    #c11212;
  clip-path: polygon(93% 3%, 76% 5%, 32% 6%, 20% 15%, 20% 78%, 29% 88%, 73% 88%, 99% 90%, 89% 75%, 77% 70%, 45% 70%, 40% 65%, 40% 28%, 45% 23%, 74% 23%, 82% 18%);
  transform: scaleY(0);
  transform-origin: bottom;
  animation: 
    drawLetter 0.8s ease-out forwards,
    shake 0.2s infinite alternate 0.8s;
}

.h{
  background:
    repeating-linear-gradient(
      0deg,
      rgba(255,0,0,0.05),
      rgba(255,0,0,0.05) 2px,
      rgba(0,0,0,0.03) 2px,
      rgba(0,0,0,0.03) 4px
    ),
    #c11212;
  clip-path: polygon(22% 3%, 9% 12%, 6% 82%, 0 98%, 19% 95%, 26% 79%, 29% 55%, 53% 55%, 50% 84%, 42% 98%, 65% 92%, 72% 81%, 77% 13%, 99% 2%, 67% 4%, 58% 11%, 54% 39%, 30% 39%, 33% 11%, 50% 2%);
  transform: scaleY(0);
  transform-origin: bottom;
  animation: 
    drawLetter 0.8s ease-out forwards,
    shake 0.2s infinite alternate 0.8s;
}

.a{
  background:
    repeating-linear-gradient(
      0deg,
      rgba(255,0,0,0.05),
      rgba(255,0,0,0.05) 2px,
      rgba(0,0,0,0.03) 2px,
      rgba(0,0,0,0.03) 4px
    ),
    #c11212;
  clip-path: polygon(9% 5%, 24% 14%, 6% 90%, 0% 99%, 25% 92%, 32% 85%, 39% 50%, 53% 50%, 58% 84%, 65% 91%, 90% 100%, 82% 88%, 68% 14%, 84% 5%);
  transform: scaleY(0);
  transform-origin: bottom;
  animation: 
    drawLetter 0.8s ease-out forwards,
    shake 0.2s infinite alternate 0.8s;
}

.a::before{
  content:"";
  position:absolute;

  width:70px;
  height:115px;

  background:#ffff; /* color del fondo */

  top: 30px;
  left:70px;

  clip-path: polygon(27% 20%, 18% 30%, 18% 68%, 29% 81%, 62% 81%, 70% 69%, 70% 32%, 63% 20%);
}


/*Animaciones*/
@keyframes drawLetter{
  to{
    transform: scaleY(1);
  }
}

@keyframes shake{
  from{ transform: rotate(-1deg) scaleY(1); }
  to{ transform: rotate(1deg) scaleY(1); }
}




